<div class="container">
  <h1>Hero Form</h1>
  <form #heroForm="ngForm" (ngSubmit)="formSubmitted()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="heroForm.invalid || submitted">Submit</button>

    <p *ngIf="submitted">
      {{ heroForm.value | json }}
    </p>

  </form>
</div>